---
import Clock from '@components/Clock.astro';
import Settings from '@components/Settings.astro';
import Tabs from '@components/Tabs.astro';

const headingText = 'medz';
---

<div class='mx-auto flex min-h-full w-full items-center justify-center'>
  <div
    class='max-w-(--timer-width) flex w-full flex-col items-center text-center'
  >
    <h1 class='text-muted text-5xl font-bold'>{headingText}</h1>
    <Tabs activeTab={1} />
    <Clock />
    <Settings />
  </div>
</div>
