---
import cva from "@utils/cva";

const headingText = "pomodoro";
const tabs = ["pomodoro", "short break", "long break"];

const tabClasses = cva(
  "rounded-full p-4 text-lg font-medium", // base styles
  {
    variants: {
      selected: {
        true: "bg-rose-200 text-slate-950",
        false: "text-white",
      },
    },
    defaultVariants: {
      selected: false,
    },
  },
);
---

<div class="flex min-h-full items-center justify-center">
  <div class="flex flex-col items-center border-2 p-6 text-center">
    <h1 class="text-5xl">{headingText}</h1>
    <ul class="mt-8 flex rounded-full bg-slate-950 p-2">
      {
        tabs.map((tab, index) => {
          const isActive = index === 0;
          return <li class={tabClasses({ selected: isActive })}>{tab}</li>;
        })
      }
    </ul>
    <div
      class="my-16 flex aspect-square w-[320px] items-center justify-center rounded-full bg-slate-800"
    >
      <div>17:59</div>
      <div>pause</div>
    </div>
  </div>
  <!-- Status of timer -->
  <!-- Timer component: circular with timer clock, animation counting down from time selected, play/pause on click -->
  <!-- settings button that opens modal when clicked -->
  <!-- Modal component: time (mins), font, color, apply button to edit styles, saved to localStorage as single JSON object -->
</div>
